.form-control {
    display: block;
    width: 280px;
    padding: 10px;
    margin: 5px 13%;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

    color: #777;
    font-size: 12px;
    bottom: 68px;
}

.form-resolution {
    padding: 9px;
    border: none;
    border-bottom: 1px solid #999;
    display: inline-block;
    width: 14.6rem;

    outline: none;
    background: transparent;

    color: #777;
    font-size: 12px;
} 

.form-goal {
    padding: 9px;
    border: none;
    border-bottom: 1px solid #999;
    display: inline-block;

    outline: none;
    background: transparent;

    color: #777;
    font-size: 12px;
}